
<div class="col text-center">
  <span class="display-1 font-weight-bold">Great Job</span>
</div>
  <div class="mx-auto m-4 col-3">
      <%= link_to new_user_registration_path, class:"btn btn-info btn-lg btn-block mb-5 mt-5 sign_up" do %>
          <span><i class="fas fa-sign-up-alt"></i> 新規登録 </span>
      <% end %>
      
      <%= link_to destroy_user_session_path, class:"btn btn-info btn-lg btn-block mb-5 sign_out",method: :delete do %>
          <span><i class="fas fa-sign-in-alt"></i> ログアウト </span>
      <% end %>
      

      <%= link_to new_user_session_path, class:"btn btn-info btn-lg btn-block mb-5 sign_in" do %>
          <span><i class="fas fa-sign-in-alt"></i> ログイン </span>
      <% end %>
      
      <%= link_to new_admin_session_path, class:"btn btn-info btn-lg btn-block mb-5 sign_in" do %>
          <span><i class="fas fa-sign-in-alt"></i> 管理者ログイン </span>
      <% end %>
      

  </div>



