<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="my-3"></h5>
      <table class="table">
        <thead>
          <tr>
            <th>社員名</th>
            <th>更新日</th>
          </tr>
        </thead>

        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= report.user.last_name + report.user.first_name %></td>
              <td><%= report.created_at.strftime('%Y/%m/%d') %></td>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
