<div class="container my-5">
  <div class="row my-3">
    <div class="col-md-auto bg-light">
      <h4 class="font-weight-bold">
        日報一覧
      </h4>
    </div>
  </div>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <th>更新日</th>
        <th>日報詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td class="px-3"><p><%= report.created_at.strftime('%Y/%m/%d') %></p></td>
          <td class="px-3"><p><%= link_to "表示する", public_report_path(report.id), class:'btn btn-primary text-nowrap' %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container text-center">
    <%= link_to "打刻画面", new_public_attendance_path, class:'h3' %>に戻る。
</div>